
        .about-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            gap: 80px;
            flex-wrap: wrap;
            padding:100px 10px
        }
        .avatar {
            flex-shrink: 0;
        }
        .avatar canvas {
            border-radius: 50%;
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        }
        .info {
            max-width: 940px;
        }
        .info h2 {
            color: var(--primary);
            margin-bottom: 20px;
        }
        .info .email {
            font-size: 18px;
            color: var(--text);
            background: var(--light-gray);
            padding: 15px 25px;
            border-radius: 8px;
        }
        .qrCode {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 1rem;
        }
        .qrCode img{
            display:flex;
            align-items:center;
            justify-content:center;
            width: 100%;

        }