.container{
            padding:0 20px
        }
        .avatar {
            flex-shrink: 0;
        }
        .avatar canvas {
            border-radius: 50%;
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        }
        .info {
            max-width: 1360px;
        }
        .info h2 {
            color: var(--primary);
            margin-top:30px;
            margin-bottom: 30px;
        }
        .info .email {
            font-size: 18px;
            color: var(--text);
            background: var(--light-gray);
            padding: 15px 25px;
            border-radius: 8px;
            display: inline-block;
        }
        .qrCode img{ width: 100%;display: inline-block}